.DS_Store
# .gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
# .obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/

#self
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/*/data.json
!.obsidian/plugins/templater-obsidian/data.json

.claude/*.local.*